In [1]:
import numpy as np
import pandas as pd
import os
from multiprocessing import Pool
import multiprocessing

cpu_count = multiprocessing.cpu_count()
print(cpu_count)

8

In [2]:
#print(os.getcwd())
loc = os.getcwd()+'/wider_face_split/wider_face_train_bbx_gt.txt'
File_object = open(loc,"r")

Attached the mappings between attribute names and label values.

blur: clear->0 normal blur->1 heavy blur->2

expression: typical expression->0 exaggerate expression->1

illumination: normal illumination->0 extreme illumination->1

occlusion: no occlusion->0 partial occlusion->1 heavy occlusion->2

pose: typical pose->0 atypical pose->1

invalid: false->0(valid image) true->1(invalid image)

The format of txt ground truth. File name Number of bounding box x1, y1, w, h, blur, expression, illumination, invalid, occlusion, pose

In [3]:
name = []
Flag = 0
Counter = 0
Counter_list = []
img_data = []

with open(loc,'r') as file:
    
    for line in file:
        #print(line[-4:])
        if(line[-4:-1]=='jpg'):
            # print(line)
            name.append(line[:-1])
            Flag=1
        elif(Flag==1):
            Counter = int(line[:-1])
            Counter_list.append(Counter)
            #print(Counter)
            Flag=0
        else:
            #print(line[:-1].split())
            img_data.append(line[:-1].split())

In [4]:
df = pd.DataFrame()
df['name'] = name
df['count'] = Counter_list

In [5]:
df.head()

                                        name  count
0  0--Parade/0_Parade_marchingband_1_849.jpg      1
1        0--Parade/0_Parade_Parade_0_904.jpg      1
2  0--Parade/0_Parade_marchingband_1_799.jpg     21
3  0--Parade/0_Parade_marchingband_1_117.jpg      9
4  0--Parade/0_Parade_marchingband_1_778.jpg     35

In [6]:
name_1 = []
value_1 = []
cntr = 0

for i in range(0,len(df)):
    cntr +=1
    j = df.iloc[i,1]
    #print(j)
    while(j>0):
        name_1.append(df.iloc[i,0])
        value_1.append(img_data)
        cntr +=1
        j -=1

In [7]:
img_df = pd.DataFrame(columns=['name','x1', 'y1', 'w', 'h', 'blur', 'expression', 'illumination', 'invalid', 'occlusion', 'pose'])

img_df['name'] = name_1

In [8]:
img_df.head()

,name,x1,y1,w,h,blur,expression,illumination,invalid,occlusion,pose
0,0--Parade/0_Parade_marchingband_1_849.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0--Parade/0_Parade_Parade_0_904.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0--Parade/0_Parade_marchingband_1_799.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0--Parade/0_Parade_marchingband_1_799.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0--Parade/0_Parade_marchingband_1_799.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
x1 = []
y1 = []
w = []
h = []
blur = []
expression = []
illumination = []
invalid = []
oclusion = []
pose = []

In [10]:
for lit in range(len(name_1)):
    x1.append(img_data[lit][0])
    y1.append(img_data[lit][1])
    w.append(img_data[lit][2])
    h.append(img_data[lit][3])
    blur.append(img_data[lit][4])
    expression.append(img_data[lit][5])
    illumination.append(img_data[lit][6])
    invalid.append(img_data[lit][7])
    oclusion.append(img_data[lit][8])
    pose.append(img_data[lit][9])

In [11]:
img_df['x1'] = x1
img_df['y1'] = y1
img_df['w'] = w
img_df['h'] = h
img_df['blur'] = blur
img_df['expression'] = expression
img_df['illumination'] = illumination
img_df['invalid'] = invalid
img_df['oclusion'] = oclusion
img_df['pose'] = pose

In [12]:
img_df.head()

,name,x1,y1,w,h,blur,expression,illumination,invalid,occlusion,pose,oclusion
0,0--Parade/0_Parade_marchingband_1_849.jpg,449,330,122,149,0,0,0,0,NaN,0,0
1,0--Parade/0_Parade_Parade_0_904.jpg,361,98,263,339,0,0,0,0,NaN,0,0
2,0--Parade/0_Parade_marchingband_1_799.jpg,78,221,7,8,2,0,0,0,NaN,0,0
3,0--Parade/0_Parade_marchingband_1_799.jpg,78,238,14,17,2,0,0,0,NaN,0,0
4,0--Parade/0_Parade_marchingband_1_799.jpg,113,212,11,15,2,0,0,0,NaN,0,0

In [13]:
img_df.to_csv('Wider_stats.csv',index=False)